<!DOCTYPE html>
<html>
<body>

<h2>HTML Forms</h2>

<form action="/submit" method="POST">
  <label for="fname">cliente</label><br>
  <input type="text" id="fname" name="cliente" value="Gary Ortiz"><br>
  <label for="lname">menu:</label><br>
  <input type="text" id="lname" name="menu" value="Menu 1"><br><br>
  <input type="submit" value="Enviar pedido">
</form> 
<br>
<form action="/verStatusPedidoRestaurante" method="POST">
 
    <input type="submit" value="Ver Estado Restaurante">
  </form> 
  <br>
  <form action="/verStatusPedidoRepartidor" method="POST">

    <input type="submit" value="Ver Estado Repartidor">
  </form> 
  <br>
<p>Pagina del cliente</p>

</body>
</html>
