<!DOCTYPE html>
<html>
  <body>
    <h2>Pedidos Cliente</h2>

    <form action="/submit" method="POST">
      <label for="fname">Cliente</label><br />
      <input type="text" id="fname" name="cliente" value="" /><br />
      <label for="lname">Menu:</label><br />
      <input type="text" id="lname" name="menu" value="" /><br /><br />
      <label for="lname">Direccion:</label><br />
      <input type="text" id="lname" name="direccion" value="" /><br /><br />
      <input type="submit" value="Enviar pedido" />
    </form>
    <br />
    <form action="/Estado" method="GET">
      <input type="submit" value="Estado Del Pedido" />
    </form>

    <br />
    <br />
    <p>Pagina del cliente</p>
  </body>
</html>
